$body-bg: #fff;

$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #0c78c4;
$info: #17a2b8;
$success: #2fb34d;
$warning: #ffc107;
$danger: #bf5329;
